body{
	background-image:url('http://cdn.pcwallart.com/images/colorful-universe-background-wallpaper-2.jpg'); 
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}

.container{
	font-size: 50px;
	font-weight: bold;
	color: white;
	text-align:center;
	margin-top: 20%;
}

.checkBox{
	float:center;
	text-align: center;
}
