body{
	background-image:url('http://openweathermap.org/themes/demo/assets/vendor/mosaic/img/owm_weather.png'); 
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}

.container{
	font-size: 50px;
	font-weight: bold;
	color: black;
	text-align:center;
	margin-top: 20%;
}

.checkBox{
	float:center;
	text-align: center;
}
